* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:cornflowerblue;
    color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 5px;
}

header {
    text-align: center;
}


header nav ul {
    list-style-type: none;
    font-size: 20px;
    text-align: left;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 50%;
}